
*.idb
*.obj
*.idb
*.tlog
*.pdb
*.tlog
*.lastbuildstate
*.tlog
*.tlog
*.tlog
*.obj
*.obj
*.db
*.ipch
*.lastbuildstate
*.opendb
*.db
*.ipch
.vs/ClipFactory_G/v15/.suo
*.db
.vs/ClipFactory_G/v15/.suo
*.db
ClipFactory_G/tmp/Debug/ClipFactory_G.tlog/CL.command.1.tlog
.vs/ClipFactory_G/v15/.suo
.vs/ClipFactory_G/v15/Browse.VC.db
