
*.idb
*.obj
*.idb
*.tlog
*.pdb
*.tlog
*.lastbuildstate
*.tlog
*.tlog
*.tlog
*.obj
*.obj
*.db
*.ipch
*.lastbuildstate
*.opendb
*.db
*.ipch
.vs/ClipFactory_G/v15/.suo
*.db
.vs/ClipFactory_G/v15/.suo
*.db
ClipFactory_G/tmp/Debug/ClipFactory_G.tlog/CL.command.1.tlog
.vs/ClipFactory_G/v15/.suo
.vs/ClipFactory_G/v15/Browse.VC.db
ClipFactory_G/tmp/Debug/ClipFactory_G.tlog/ClipFactory_G.lastbuildstate
.vs/ClipFactory_G/v15/ipch/AutoPCH/ca267de899764c04/GAME.ipch
.vs/ClipFactory_G/v15/Browse.VC.db
.vs/ClipFactory_G/v15/.suo
ClipFactory_G/tmp/Debug/ClipFactory_G.tlog/link.read.1.tlog
ClipFactory_G/tmp/Debug/ClipFactory_G.tlog/CL.write.1.tlog
ClipFactory_G/tmp/Debug/ClipFactory_G.tlog/CL.read.1.tlog
ClipFactory_G/tmp/Debug/ClipFactory_G.log
.vs/ClipFactory_G/v15/.suo
ClipFactory_G/tmp/Debug/vc141.pdb
ClipFactory_G/tmp/Debug/vc141.idb
ClipFactory_G/tmp/Debug/Game.obj
ClipFactory_G/tmp/Debug/ClipFactory_G.tlog/link.write.1.tlog
ClipFactory_G/tmp/Debug/ClipFactory_G.tlog/link.read.1.tlog
ClipFactory_G/tmp/Debug/ClipFactory_G.tlog/CL.write.1.tlog
ClipFactory_G/tmp/Debug/ClipFactory_G.tlog/CL.read.1.tlog
ClipFactory_G/tmp/Debug/ClipFactory_G.tlog/CL.command.1.tlog
ClipFactory_G/tmp/Debug/ClipFactory_G.log
ClipFactory_G/tmp/Debug/boardgl.obj
bin/ClipFactory_G.pdb
bin/ClipFactory_G.ilk
ClipFactory_G/tmp/Debug/vc141.pdb
ClipFactory_G/tmp/Debug/vc141.idb
ClipFactory_G/tmp/Debug/Game.obj
ClipFactory_G/tmp/Debug/boardgl.obj
.vs/ClipFactory_G/v15/.suo
.vs/ClipFactory_G/v15/Browse.VC.db
bin/ClipFactory_G.ilk
bin/ClipFactory_G.pdb
.vs/ClipFactory_G/v15/.suo
ClipFactory_G/tmp/Debug/vc141.pdb
ClipFactory_G/tmp/Debug/vc141.idb
ClipFactory_G/tmp/Debug/Game.obj
ClipFactory_G/tmp/Debug/boardgl.obj
.vs/ClipFactory_G/v15/.suo
bin/ClipFactory_G.ilk
bin/ClipFactory_G.pdb
*.log
